

* {
    font-family: 'JetBrains Mono Nerd Font', monospace;
    font-size: 16px;
    min-height: 0;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

#waybar {
    background: transparent;
    color: #c6d0f5;
    margin: 0px;
    font-weight: 500;
}

#workspaces, #custom-uptime, #cpu, #memory {
    background-color: #292c3c;
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    border-radius: 6px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    min-width: 0;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#workspaces {
    padding: 2px;
    margin-left: 7px;
    margin-right: 5px;
}

#custom-uptime {
    margin-right: 5px;
}

#cpu {
    margin-right: 5px;
}

#custom-uptime:hover, #cpu:hover, #memory:hover {
    background-color: #414559;
}

#workspaces button {
    color: #eebebe;
    border-radius: 5px;
    padding: 0.3rem 0.6rem;
    background: transparent;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none;
}

#workspaces button.active {
    color: #a6d189;
    background-color: rgba(166, 209, 137, 0.1);
    box-shadow: inset 0 0 0 1px rgba(166, 209, 137, 0.2);
}

#workspaces button:hover {
    background: #414559;
}

#clock {
    background-color: #292c3c;
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(166, 209, 137, 0.2);
    min-width: 0;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    font-weight: 600;
}

#clock:hover {
    background-color: #414559;
}

#custom-pomodoro {
    background-color: #292c3c;
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba (0, 0, 0, 0.1);
    min-width: 0;
    border: none;
    outline: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, outline 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}

#custom-pomodoro:hover {
    background-color: #414559;
}

#custom-pomodoro.work {
    color: #a6d189;
    background-color: rgba(65, 69, 89, 0.9);
}

#custom-pomodoro.break {
    color: #ca9ee6;
    background-color: rgba(65, 69, 89, 0.9);
}

#pulseaudio, #network, #custom-lock {
    background-color: #292c3c;
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    border-radius: 0px;
    box-shadow: none;
    min-width: 0;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#network {
    padding-left: 5px;
    margin-left: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#custom-lock {
    margin-right: 7px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#pulseaudio:hover, #network:hover, #custom-lock:hover {
    background-color: #414559;
}

#custom-spotify {
    background-color: #292c3c;
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba (0, 0, 0, 0.1);
    min-width: 0;
    border: none;
    outline: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, outline 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}

#custom-spotify:hover {
    background-color: #414559;
}
